{{ partial "header.html" . }}
	{{ $.Scratch.Set "shareNav" true }}
	{{ partial "navbar" . }}

<style>
/*adding some extras for demo purposes*/
article {
  float: left;
  margin: 0 auto;
  width: 35%;
  font-family: 'oswald', sans-serif;
  font-size:120%;
  font-weight:400;
  text-align: right;
}
h3 {
  font-variant: normal;
}

aside {
  float: right;
  width: 55%;
  color: gray;
  margin: 0 auto;
  font-family: 'oswald', sans-serif;
  font-size: 900%;
  font-weight: 800;
  font-variant: small-caps;
  line-height: 1.0;
}

#wrap {
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

li{
line-height: 2.0;
}

.h9 {
  font-family: 'oswald', sans-serif;
  font-size: 900%;
}

#c {
  /*padding:20%;*/
  margin-top: 30px;
  text-align: center;
  font-size:200%;
  float: left;
}


</style>
</head>
  <body lang="en">
    <div id="wrap">
      <h3>
      <article>
    <br>
   <h1>Welcome</h1>
   <h3>I am a software engineer<br>
	 with nearly 15 years of experience
     </h3>
      <ul style="list-style:none; columns: 2 50%; -moz-columns: 2 50%; -webkit-columns: 2 50%;">
	 <br>
      <h4>
      <li>C, Python, LaTeX, Go</li>
      <li>Linux, QNX, Plan9, FreeBSD</li>
      <li>Xen, KVM, Virtualization</li>
      <li>Qemu, Gem5, Simics</li>
      <li>ARM, ARMv8, MIPS, RISCV</li>
      <li>Git, ((((elisp))))</li>
      <li>Shell Scripting</li>
      </ul> </h4>
      </article>
     <aside>
     <h9>PREM<br>MALLAPPA</h9>
     </aside>
    <div id="c">
    <br>
    <ul class="icons">
    {{ partial "social" . }}
    </ul>
    </div>
    </div>
  </body>
<!-- {{ partial "footer.html" . }} -->

